@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");

.compo4-bigdiv {
  background-image: url(https://media.discordapp.net/attachments/1093497830917816403/1108684129622564955/Sans_titre-2.png?width=1025&height=323);
  width: 1350px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -250px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.compo4-div1 {
  width: 482px;
  height: 202px;
  margin-top: 60px;
  margin-left: 60px;
}
.compo4-div1 h1 {
  color: #00b39b;
  font-family: "work sans", Arial, sans-serif;
  font-size: 34px;
  line-height: 45px;
  text-align: start;
  font-weight: 300;
}

.compo4-div1 p {
  color: #747474;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: start;
  width: 400px;
  margin-top: 30px;
}

.compo4-div2 {
  width: 249px;
  height: 540px;
  margin-top: 30px;
}

.compo4-div3 {
  width: 249px;
  height: 540px;
  margin-left: -110px;
}
.sous-div {
  background-color: #ffffff;
  width: 224px;
  height: 250px;
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sous-div img {
  width: 40px;
  height: auto;
}
.sous-div h1 {
  color: #00b39b;
  font-family: "work sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-weight: 300;
  margin-top: 15px;
}
.sous-div p {
  color: #747474;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  width: 199px;
}
