.big-div {
  height: 157px;
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.big-div h1 {
  width: 250px;
  height: 157px;
  font-family: "work sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #00b39b;
  margin-left: 30px;
  text-align: start;
  margin-right: -100px;
}

.logo-div {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  height: 150px;
}

.logo-div img {
  width: 133px;
  height: 30px;
  margin-left: 30px;
  filter: grayscale(100%);
}
.logo-div img:hover {
  filter: grayscale(0%);
}
